#
# KCopy character device configuration
#

menu "KCopy"

config KCOPY
   tristate "Memory-to-memory copies using kernel assist"
   default m
   ---help---
     High-performance inter-process memory copies.  Can often save a
     memory copy to shared memory in the application.   Useful at least
     for MPI applications where the point-to-point nature of vmsplice
     and pipes can be a limiting factor in performance.

endmenu

